.home {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .more {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
    background-color: #ffffff;
    font-size: 18px;
    cursor: pointer;
  }
  .kategoryes {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
    gap: 45px;

    .kategory {
      width: 136px;
      flex-basis: calc(33.33% - 30px);
      height: 200px;
      border-radius: 10px;
      text-align: center;
      background-color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
    }
  }
  .title {
    width: 80%;

    margin: auto;
    font-size: 25px;
    font-weight: 300;
  }
}

.topsell {
  width: 80%;
  margin: auto;

  margin-top: 50px;
  .content_items {
    .item-block-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
  .topsell-title {
    font-size: 20px;
  }
}
.info_brands {
  width: 80%;
  margin: auto;
}
