.content_items {
  display: flex;
  flex-wrap: wrap;

  gap: 55px;

  .item-block-wrapper {
    display: flex;
    flex-wrap: wrap;

    gap: 55px;

    .item-block {
      width: 230px;
      height: 390px;
      margin-top: 10px;
      background-color: #ffffff;
      border-radius: 10px;
      display: flex;

      justify-content: center;
      flex-direction: column;
      &:hover {
        transition: all 0.3s ease-in-out;
        -webkit-box-shadow: 1px 8px 8px 4px rgba(34, 60, 80, 0.2);
      }
      .item-block-showcase {
        text-align: center;
        margin-top: 20px;
        color: #6c757d;
      }
      .item-block-footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          width: 130px;
          height: 40px;
          border-radius: 8px;
          border: none;
          cursor: pointer;
          color: #ffffff;
          background: #0d63f3;
          transition: all 0.5s;
         font-size: 15px;
          &:hover{
            transition: all 0.3s;
            background-color: rgb(6, 153, 6);
          }

          i{
            align-items: center;
            justify-content: center;
            display: flex;
            width: 20px;
            height: 20px;
            border-radius: 15px;
            border: 1px solid white;
           color: white;
            
          }
        }
        .button-clicked {
          animation: buttonAnimation 0.3s ease;
        }
        @keyframes buttonAnimation {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }
        img {
          cursor: pointer;
        }
      }
      .item-block-title {
        text-align: center;
        margin-top: 10px;

        height: 60px;
        h4 {
          font-weight: 500;
        }
        p {
          margin-top: 5px;
          font-weight: 600;

          font-size: 20px;
        }
      }
      .item-block-img {
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
      .item-block-fav {
        display: flex;
        justify-content: right;
        padding: 10px;
        img {
          cursor: pointer;
        }
      }
    }
  }
}

.more {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  background-color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
