@use "../styles/modules/header.scss";
@use "../styles/modules/slider.scss";
@use "../styles/modules/home.scss";
@use "../styles/modules/Itemblock.scss";
@use "../styles/modules/brands.scss";
@use "../styles/modules/footer.scss";
@use "../styles/modules/pcCategoryBlock.scss";
@use "../styles//modules/katalog.scss";
@use  "../styles/modules/sort.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-size: 15px;
  line-height: 1.2;
  background-color: #ECF4FF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
